.other-services {
  .container {
    max-width: 1066px;
  }

  &__items {
    position: relative;
    margin-top: -100px;
    z-index: 10;
    color: var(--primaryColor);

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 200px;
      padding: 25px;
      border-radius: 30px;
      overflow: hidden;
      text-align: start;
      font-size: 20px;
      font-weight: 600;
      background: rgb(0 0 0 / 50%);
      background-blend-mode: multiply;
      cursor: pointer;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        border-radius: 30px;
        transition: 0.7s;
      }

      i {
        font-size: 25px;
      }

      p {
        margin: 0;
      }

      &:hover {
        background-size: 110%;
      }

      &:hover img {
        transform: scale(1.5) rotate(30deg);
      }
    }
  }

  .swiper-backface-hidden .swiper-slide {
    transform: initial;
  }
}
